<!DOCTYPE html>
<html class="basic basic_index" lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum=scale=1">
    <title>智慧通用-{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon">
    <meta name="theme-color" content="#00C66B"/>
    <link href="{{ url_for('static', path='/css/css-PlayfairDisplay.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/css/css-Poppins400600.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/css/basic-1765b545.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/css/font_954744_g42joo6uzdr.css') }}" rel="stylesheet">
</head>
<body>
<main>
    <section id="hero" class="hero">
        <div class="hero-content">
            <div class="hero-banner">
                <h4>
                    <div>{{ title }}</div>
                </h4>
                <br>
                <div class="landing-buttons">
                    <a class="landing-button" target="_blank" href="/docs">Swagger</a>
                    <a class="landing-button" target="_blank" href="/redoc">Redoc</a>
                </div>
            </div>
            <div class="hero-footer">
                <div class="-counter">
                    <p><small>Survival Time </small></p>
                    <div id="sitetime" class="time"></div>
                </div>
                <div class="-social">
                    <p><small>Quick Start</small></p>
                    <ul>
                        <li>
                            <a class="linkedin"
                               href="/api/v1/meeting/summary-sse?content=%E4%BD%A0%E6%98%AF%E8%B0%81%EF%BC%9F"
                               target="_blank"><i class="zm zm-APIguanli"> SSE</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="{{ url_for('static', path='/js/jquery-59e367f0.js') }}"></script>
<script src="{{ url_for('static', path='/js/threejs-6ebcc050.js') }}"></script>
<script src="{{ url_for('static', path='/js/projector-2f448d36.js') }}"></script>
<script src="{{ url_for('static', path='/js/canvasrenderer-0792e9f3.js') }}"></script>
<script src="{{ url_for('static', path='/js/feather-cae18e22.js') }}"></script>
<script src="{{ url_for('static', path='/js/imagesloaded-566550fd.js') }}"></script>
<script src="{{ url_for('static', path='/js/jquery-countdown-38fb1392.js') }}"></script>
<script src="{{ url_for('static', path='/js/jquery-scrollto-94f5d0cb.js') }}"></script>
<script src="{{ url_for('static', path='/js/jquery-localscroll-640631e1.js') }}"></script>
<script src="{{ url_for('static', path='/js/packery-8c62b54b.js') }}"></script>
<script src="{{ url_for('static', path='/js/magnific-popup-c9f972e2.js') }}"></script>
<script src="{{ url_for('static', path='/js/slick-carousel-3b41b3bc.js') }}"></script>
<script src="{{ url_for('static', path='/js/sphere-dark-16cf345f.js') }}"></script>
<script src="{{ url_for('static', path='/js/main-d441790e.js') }}"></script>
<script src="{{ url_for('static', path='/js/basic-9ff86e20.js') }}"></script>
<script src="{{ url_for('static', path='/js/wikisj.js') }}"></script>
<script>
    const root_url = "{{ url_for('index') }}";
    let sse_source = null;

    function start_sse() {
        if ('EventSource' in window) {
            sse_source = new EventSource(root_url + 'api/v1/meeting/summary-sse?content=%E4%BD%A0%E6%98%AF%E8%B0%81%EF%BC%9F', {withCredentials: true});

            sse_source.onopen = function (event) {
                console.log('open', event)
            };
            sse_source.onerror = function (event) {
                // 阻止默认的重试行为
                event.preventDefault();
                console.log('error', event)
                // 在此处添加自定义的错误处理逻辑，如果需要的话
                stop_sse();
            };

            // 自定义事件初始化
            sse_source.addEventListener('initializing', function (event) {
                // console.log('initializing', event)
                console.log('initializing data:', event.data)
            }, false);
            sse_source.addEventListener('message', function (event) {
                // console.log('message', event)
                console.log('message data:', event.data)
            }, false);
            // 自定义事件处理完成
            sse_source.addEventListener('completed', function (event) {
                // console.log('completed', event)
                console.log('completed data:', event.data)
            }, false);
            // 自定义事件结束
            sse_source.addEventListener('end', function (event) {
                // console.log('end', event)
                console.log('end data:', event.data)
                stop_sse();
            }, false);
        }
    }

    function stop_sse() {
        if (sse_source) {
            sse_source.close();
        }
    }

    // start_sse();
</script>
</body>
</html>
